@model GameWeb.Models.CharactersViewModel



<h2>@Model.gameStatus</h2>

@using (Html.BeginForm("GetAge","Home",FormMethod.Post)){
    <div style="margin:2em;">

         <button type="submit">Submit
         </button>