@model GameWeb.Models.CharactersViewModel


<ul>
    
    <li>@Model.alien.healthPoints remaining </li>
    <li>@Model.alien.healthPoints</li>
        <li>@Model.alien.message with @Model.selectedWeapon</li>
</ul>
