@model GameWeb.Models.CharactersViewModel

@using (Html.BeginForm("BeginGame","Home",FormMethod.Post)){
    <div style="margin:2em;">
        
        
        

        <button type="submit">Begin Game</button>
    </div>


}
<h2>Winners!</h2>

  <ul>
@foreach(var user in Model.scoreBoard){
  
<li>@user.name</li>
<li>@user.age</li>
}
</ul>

